/* ここから下に記載していく */
/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/

/* COMMON */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    width: 100%;
}

a,a:hover,a:visited{
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none !important;
}

#text_space{
    padding-bottom:30px ;
}

/* HEADER */
.header {
    width: 1200px;
    display: flex;


}

.header_left {
    width: 40%;
    display: flex;
    align-items: center;

}

.header_right {
    width: 60%;
    display: flex;
    justify-content: end;
}


.header_img {}

.header_text {
    font-size: 21px;
    padding: 50px 25px 50px 25px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_text:hover {
    font-size: 21px;
    padding: 50px 25px 50px 25px;
    background-color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
/* CONTAINER */

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.container_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITLE */

.title_box {
    width: 100%;
    background: url(../img/mainbg.png);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #71F6AB, 0 0 40px #71F6AB, 0 0 50px #71F6AB, 0 0 60px #71F6AB, 0 0 70px #71F6AB;
    font-size: 48px;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 0px;

}

.title_box_text {
    font-size: 36px;
    display: flex;
    justify-content: center;

}




/* ABOUT */

.about {
    color: brown;
    padding: 60px 0 30px 0;
    font-size: 24px;
}

.about_ja {
    font-size: 18px;
    padding-bottom: 60px;
}

.about_text {
    font-size: 16px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img {
    display: flex;
    padding-top: 40px;
}

/* COURSE HEADER*/
.course {
    color: brown;
    padding: 60px 0 30px 0;
    font-size: 24px;
}


.course_text {
    font-size: 16px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COURSE CONTENTS */
.course_box {
    display: flex;
    background: gainsboro;
}

.course_box_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.course_box_left_ja {
    font-size: 24px;
    padding: 0px 50px 40px 120px;

}

.course_box_left_text {
    width: 530px;
    font-size: 16px;
    padding: 0 50px 0 120px;
}

.course_box_right {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.course_box_right_ja {
    font-size: 24px;
    padding: 120px 50px 40px 50px;

}

.course_box_right_text {
    width: 530px;
    font-size: 16px;
    padding: 0 0 0 50px;

}

/* NEWS HEADER */
.news {
    color: brown;
    padding: 60px 0 30px 0;
    font-size: 24px;
}

.news_ja {
    font-size: 18px;
    padding-bottom: 60px;
}

.news_text {
    font-size: 16px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.news_container {
    display: flex;

}

.news_box {
    width: 300px;
    padding: 0 15px 0 15px;

}

.news_box:hover {
    width: 300px;
    padding: 0 15px 0 15px;
    box-shadow: 5px 5px #353535;

}

.news_box :active {
    width: 300px;
    padding: 0 15px 0 15px;

}

.news_box_date {
    padding-top: 30px;
    padding-bottom: 24px;
    transform: translate(5px, 5px);
}


/* MORE HEADER */
.more {
    font-size: 24px;
    color: brown;
    background-color: yellow;
    margin: 60px 0 60px 0;
    padding: 15px 100px 15px 100px;

}

.more:hover {
    font-size: 24px;
    color: brown;
    background-color: yellow;
    margin: 60px 0 60px 0;
    padding: 15px 100px 15px 100px;
    box-shadow: 5px 5px #353535;

}

.more_ja {
    font-size: 18px;
    padding-bottom: 60px;
}

.more_text {
    font-size: 16px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ACCESS */


.access_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efefef;
}

.access {
    color: brown;
    padding: 60px 0 30px 0;
    font-size: 24px;
}

.access_ja {
    font-size: 18px;
    padding-bottom: 60px;
}

.th_access {
    width: 150px;
    height: 50px;
    text-align: left;
}


/* information box */
.infomation_box {
    display: flex;

}

.infomation_box_text {
    padding: 60px 0 60px 0;

}




/* CONTACT */

.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    color: brown;
    padding: 60px 0 30px 0;
    font-size: 24px;
}

.contact_ja {
    font-size: 18px;
    padding-bottom: 60px;
}

.contact_text {
    font-size: 18px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.th_form {
    height: 36px;
    padding: 0 64px 8px 16px;
    text-align: left;

    border: solid 1px #bfbfbf;
    border-left: none;


}


.td_form {
    width: 400px;
    height: 100%;
    padding: 8px 64px 8px 16px;
    border: solid 1px #bfbfbf;
    border-right:none;
}

#name{
    width: 328px;
    height: 100%;
    border: solid 1px #bfbfbf;
}
#text{
    width: 328px;
    height: 50px;
    border: solid 1px #bfbfbf;

}
#select{

}

#checkbox{

}

/* SEND */

.send {
    font-size: 24px;
    color: brown;
    background-color: yellow;
    margin: 30px 0 140px 0;
    padding: 15px 100px 15px 100px;

}

.send:hover {
    font-size: 24px;
    color: brown;
    background-color: yellow;
    margin: 30px 0 140px 0;
    padding: 15px 100px 15px 100px;
    box-shadow: 5px 5px #353535;

}


/* FOOTER */

.footer{
    width: 100%;
    background-color: #707070;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;


}